DATABASE_URL=jdbc:postgresql://localhost:5432/lostpets
DATABASE_USERNAME=yourusername
DATABASE_PASSWORD=yourpassword
JWT_SECRET=secret

SPRING.MAIL.HOST=smtp.example.com
SPRING.MAIL.PORT=587
SPRING.MAIL.USERNAME=your-email@example.com
SPRING.MAIL.PASSWORD=your-email-password
SPRING.MAIL.PROPERTIES.MAIL.SMTP.AUTH=true
SPRING.MAIL.PROPERTIES.MAIL.SMTP.STARTTLS.ENABLE=true